extends global_layout.pug

append head
    title= 'CATEGORIES'

block content
    h2 CATEGORIES
    ul
        each category in site.categories
            li
                a(href=url_for('/categories/'+category.key+'/0/'))= category.key