extends global_layout.pug

append head
    meta(name="description" content=ctx.config.descripiton || ctx.config.note)
    title #{ctx.config.title}#{ctx.config.additional_title ? ' - ' + ctx.config.additional_title : ''}

block content
    h1(hidden=true)= ctx.config.title
    ul.index-ul
        each post in site.posts.slice(page.current*10,page.current*10+10)
            li
                +post-card(post)
    +page-navigator(Math.ceil(site.posts.length/10),page.current,'page')
