extends global_layout.pug

append head
    meta(name="description" content=ctx.config.descripiton || ctx.config.note + "\n Page "+page.current)
    title= ctx.config.title

block content
    ul.index-ul
        each post in site.posts.slice(page.current*10,page.current*10+10)
            li
                +post-card(post)
    +page-navigator(page.total,page.current,'page')
