extends global_layout.pug

append head
    title= ctx.config.title

block content
    ul.index-ul
        each post in site.posts.slice(page.current*10,page.current*10+10)
            li
                +post-card(post)
    +page-navigator(page.total,page.current,'page')
