@use "../declaration" as *;

@mixin use() {
    footer.global {
        position: relative;
        max-width: var(--Wpage-width);
        margin: 4rem auto 2rem;

        color: var(--Ctext-25);
        text-align: center;
        padding: 0 .25rem;

        & a {
            text-decoration: none;
            font-weight: bold;
            color: var(--Cbtn-content);
        }

        &>.kLinks {
            display: flex;
            flex-wrap: wrap;

            &>nav {
                flex: 1 0 0%;
                padding: .5rem;

                &>* {
                    display: block;
                    text-wrap: nowrap;
                }
            }
        }

        &>.copyright {
            text-align: center;
        }

        &::before {
            content: '';
            border-top: 1px dashed #ffffff26;
            top: -32px;
            width: 70%;
            left: 15%;
            position: absolute;

        }
    }

    @media(max-width:768px) {
        footer.global {
            font-size: 14px;
        }
    }
}