@use "../declaration" as *;

@mixin use() {
    .loading-circle {
        $r: 5rem;
        position: fixed;
        width: calc($r * 2);
        height: calc($r * 2);
        left: calc(50% - $r);
        top: calc(50% - $r);
        background-color: var(--Ccard-bg);
        border-radius: 100vmax;
        z-index: 2000;
        box-shadow: 0px 0px 5rem var(--Cbrand);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity .25s ease-in-out;
        transition-delay: .125s;
    }

    body:not(.dom-loaded) .loading-circle {
        animation: loading-circle-start .25s ease-in-out 1;
    }

    :is(body.being-replaced) .loading-circle {
        opacity: 1;
    }

    .loading-circle::before {
        $r: 5rem;
        content: '';
        display: block;
        width: calc($r / 1.15);
        height: calc($r / 1.15);
        border: 1rem solid var(--Cbtn-regular-bg);
        border-top: 1rem solid var(--Cbtn-content);
        border-radius: 100vmax;
        animation: loading-circle-spin 2.5s linear infinite;
    }

    @keyframes loading-circle-start {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes loading-circle-spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}