$card-gap: 1rem;
$card-shadow: 0 4px 10px rgba(0, 0, 0, .05),
0 0 1px rgba(0, 0, 0, .1);
$card-padding: 1rem;
$card-corner: 1rem;
$card-corner-25: calc($card-corner * .25);
$card-corner-50: calc($card-corner * .5);
$card-corner-75: calc($card-corner * .75);
$card-corner-100: $card-corner;
$card-corner-circle: 100vmax;
$banner-vertical-align: $card-gap * -1;