@use "_declaration.scss" as *;
@use "./frame_widgets/header_widget" as header-widget;
// @use "./frame_widgets/footer_widget" as footer-widget;
@use "./frame_widgets/back-to-top_widget" as back-to-top-widget;
@use "./frame_widgets/image_copyright" as background-copyright-widget;
@use "./frame_widgets/loading-circle_widget" as loading-circle-widget;

:root {
    background: unset;
    --color-selection-bar: linear-gradient(to right, oklch(.7 .1 0), oklch(.7 .1 30), oklch(.7 .1 60), oklch(.7 .1 90), oklch(.7 .1 120), oklch(.7 .1 150), oklch(.7 .1 180), oklch(.7 .1 210), oklch(.7 .1 240), oklch(.7 .1 270), oklch(.7 .1 300), oklch(.7 .1 330), oklch(.7 .1 360));
}

.NeoWidget,
.post-card {
    padding: $card-padding;
    border-radius: $card-corner;
    box-shadow: $card-shadow;
    background: var(--Ccard-bg);
    box-sizing: border-box;
}

.iconBlock {
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: $card-corner-50;
    background-color: var(--Cbtn-regular-bg);
    color: var(--Cbtn-content);

    &>svg {
        width: 1.25rem;
        height: 1.25rem;
    }

    &.plain {
        color: var(--Ctext-25);
        background: light-dark(#0000000d, #ffffff0d);
    }
}

#markdown_fillContent {
    line-height: 1.75rem;
}

@keyframes navigationbar-fin {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: none
    }
}

@include header-widget.use;
// @include footer-widget.use;
@include back-to-top-widget.use;
@include loading-circle-widget.use;
@include background-copyright-widget.use;

@media(max-width: 768px) {
    .mainCon>.index-ul {
        gap: 0;
    }
}


