@use "./_declaration.scss" as *;

@import "./common_widgets/labeled-card";
@import "./common_widgets/post-meta";

.banner {
    display: flex;
    align-items: center;
    color: var(--Ctext-75);
    background-color: var(--Cbtn-regular-bg);
    margin: 1rem var(--banner-vertical-align,-1rem);
    padding: 1rem calc(-1 * var(--banner-vertical-align, -1rem));
    box-sizing: border-box;

    &:first-child {
        margin: -1rem -1rem 1rem;
    }

    &:last-child {
        margin: 1rem -1rem -1rem;
    }
}

.giscus {
    box-sizing: border-box;
    padding: $card-padding;
    background-color: var(--Cbg);
    border-radius: $card-corner-75;
}