@use "./_declaration.scss" as *;

.labeled-card {
    position: relative;
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    background-color: #0000;
    transition: background-color .25s ease-in-out;
    border-radius: $card-corner-75;
    margin: 0 1rem;

    &:hover {
        background-color: var(--Cbtn-plain-bg-hover);
    }

    &>a {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 3.25rem;
        padding: 1rem;
        gap: 1rem;
        box-sizing: border-box;
        cursor: pointer;
        text-decoration: none;

        &>date {
            color: var(--Ctext-50);
            width: 4rem;
            text-align: right;
        }

        &>.title {
            color: var(--Cbrand);
            font-weight: 900;
            font-size: 1.1rem;
            line-height: 1.5rem;
            margin-right: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
        }

        &>.title::before {
            content: '';
            display: inline-block;
            width: 1.75rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            margin-right: 1rem;
        }

        &>.append {
            color: var(--Ctext-25);
            font-size: .875rem;
            gap: .5rem;

            &>.tag {
                display: inline;
            }

        }
    }
}

.post-meta {
    color: var(--Ctext-25);
    font-weight: 900;
    overflow: hidden;
    width: 100%;
    text-wrap: nowrap;
    position: relative;

    & a {
        text-decoration: none;
    }

    &>.meta-content {
        margin: 0;
        display: flex;
        overflow: auto;
        scrollbar-color: #0000 #0000;
        flex-wrap: wrap;
        gap: .5rem;

        &:not(:first-child) {
            margin-top: .5rem
        }

        &>* {
            display: flex;
            align-items: center;

            &>:not(.iconBlock):not(.hr) {
                padding: .375rem;
            }
        }

        &>:is(.tag, .category) {
            &>a {
                cursor: pointer;
                display: block;
                padding: .375rem;
                margin: 0 .125rem;
                border-radius: .375rem;
                color: var(--Ctext-25);
                background-color: transparent;
                transition: background-color .25s ease-in-out,
                    color .25s ease-in-out;

                .post-card &:not(:hover) {
                    color: var(--Ctext-50);
                }

                &:hover {
                    color: var(--Cbrand);
                    background-color: var(--Cbtn-plain-bg-hover);
                }

            }

            &>hr {
                display: block;
                width: 0;
                padding: 0 .15rem;
                position: relative;

                &::before {
                    content: '/';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                }

            }
        }
    }
}

.banner {
    display: flex;
    align-items: center;
    color: var(--Ctext-75);
    background-color: var(--Cbtn-regular-bg);
    margin: 1rem -1rem;
    padding: 1rem;
    box-sizing: border-box;

    &:first-child {
        margin: -1rem -1rem 1rem;
    }

    &:last-child {
        margin: 1rem -1rem -1rem;
    }
}

.giscus {
    box-sizing: border-box;
    padding: $card-padding;
    background-color: var(--Cbg);
    border-radius: $card-corner-75;
}