@use "_declaration.scss" as *;

:root {
    --color-selection-bar: linear-gradient(to right, oklch(.7 .1 0), oklch(.7 .1 30), oklch(.7 .1 60), oklch(.7 .1 90), oklch(.7 .1 120), oklch(.7 .1 150), oklch(.7 .1 180), oklch(.7 .1 210), oklch(.7 .1 240), oklch(.7 .1 270), oklch(.7 .1 300), oklch(.7 .1 330), oklch(.7 .1 360));
}

.NeoWidget,
.post-card {
    padding: $card-padding;
    border-radius: $card-corner;
    box-shadow: $card-shadow;
    background: var(--Ccard-bg);
    box-sizing: border-box;
}

.iconBlock {
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: $card-corner-50;
    background-color: var(--Cbtn-regular-bg);
    color: var(--Cbtn-content);

    &>svg {
        width: 1.25rem;
        height: 1.25rem;
    }

    &.plain {
        color: var(--Ctext-25);
        background: light-dark(#0000000d, #ffffff0d);
    }
}

#markdown_fillContent {
    line-height: 1.75rem;
}

@keyframes navigationbar-fin {
    from {
        opacity: 0;
        top: -200px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

@import "./frame_widgets/header_widget";
@import "./frame_widgets/footer_widget";
@import "./frame_widgets/back-to-top_widget";
@import "./frame_widgets/loading-circle_widget";

.post-card {
    display: flex;

    & a {
        text-decoration: none;
    }
}

.post-card>.contentBox {
    width: calc(100% - 3.25rem);
    padding: .75rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    box-sizing: border-box;
    min-height: 13rem;
}

.post-card.image>.contentBox {
    width: 72%;
    max-width: 72%;
}

.post-card>.contentBox>.title>a {
    color: var(--Cdisplay);
    transition: color .25s ease-in-out;
}

.post-card>.contentBox>.title:hover>a {
    color: var(--Cbrand);
}

.post-card>.contentBox>.title>a>h2 {
    margin: 0;
    font-size: 1.875rem;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2.25rem;
}

.post-card>.contentBox>.post-meta {
    font-weight: 500;
    color: var(--Ctext-50);

    & a {
        color: var(--Ctext-50);
    }
}

.post-card>.contentBox>.foreword {
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-card>.contentBox>.length {
    display: flex;
    color: var(--Ctext-25);
    font-weight: 400;
    margin-top: auto;
}

.post-card>.contentBox>.length>.hr {
    display: block;
    width: 0;
    padding: 0 .75rem;
    position: relative;
}

.post-card>.contentBox>.length>.hr::before {
    content: '|';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.post-card>.readMore {
    min-width: 3.25rem;
    width: 3.25rem;
    position: relative;
    overflow: hidden;
    border-radius: $card-corner-75;
    margin-left: auto;
    background-position: center center;
    background-size: cover;

    &>.cover {
        opacity: 1;
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--Cbtn-regular-bg);
        color: var(--Cbtn-content);
        transition: background-color .25s ease-in-out;
    }

    &:hover>.cover {
        background-color: var(--Cbtn-regular-bg-hover);
    }

    & img {
        object-fit: cover;
        object-position: center;
        height: 100%;
    }
}

.post-card.image>.readMore {
    width: 28%;
    display: flex;
    justify-content: center;

    &>.cover {
        opacity: 0;
        background-color: #0004;
        color: #fff;
        transition: opacity .25s ease-in-out;
    }

    &:hover>.cover {
        opacity: 1;
    }
}

.post-card>.readMore>.cover>svg {
    font-size: 2.5rem;
}

.post-card.image>.readMore>.button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width: 768px) {
    .mainCon>.index-ul {
        gap: 0;
    }
    .mainCon>.index-ul>li {

        &>.post-card {
            border-radius: 0;
        }

        &:first-child>.post-card {
            border-radius: $card-corner $card-corner 0 0;
        }
        &:last-child>.post-card {
            border-radius: 0 0 $card-corner $card-corner;
        }
    }
    .post-card {
        flex-direction: column-reverse;
        max-height: 35rem;

        &>.contentBox, &.image>.contentBox {
            padding: .5rem .75rem;
            width: 100%;
            max-width: 100%;
            &>.title>a>h2 {
                text-wrap: wrap;
            }
        }

        &>.readMore {
            display: none;
        }

        &.image>.readMore {
            display: flex;
            width: 100%;
            aspect-ratio: 21 / 9;

            // &>.cover>svg {
            //     transform: scale(2);
            // }

            &>.button {
                width: 100%;
                max-height: 10rem;
                height: unset;
            }
        }
        & .post-meta {
            font-size: .875rem;
        }
        & .post-meta .tag {
            display: none;
        }
    }
}

.page-navigator {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;

    &>a {
        text-decoration: none;
        display: flex;
        height: 3rem;
        width: 3rem;
        align-items: center;
        justify-content: center;
        border-radius: $card-corner-100;
        background-color: var(--Ccard-bg);
        box-shadow: $card-shadow;
        color: var(--Cbrand);
        cursor: pointer;
        font-weight: 900;
        transition: background-color .125s ease-in-out;

        &.prev {
            transform: rotate(180deg)
        }

        &:is(.prev, .next)>svg {
            font-size: 2rem;
        }

        &.now {
            background-color: var(--Cbrand);
            color: var(--Cbg);
        }

        &:not([href]):not(.now) {
            color: var(--Ctext-25);
        }

        &[href]:not(:now):hover {
            background-color: var(--Cbtn-plain-bg-hover);
        }
    }
}

.license {
    background: var(--Cbg);
    border-radius: 1rem;
    width: 100%;
    padding: 1.5rem;
    margin: 1rem 0 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-height: 10rem;
    overflow: hidden;

    & a {
        color: var(--Cbtn-content);
        text-decoration: none;

        &:hover {
            color: var(--Cbrand);
        }
    }

    &>.title {
        font-weight: 900;
        font-size: 1.5rem;
        margin-bottom: auto;
        z-index: 1;

    }

    &>.announce-box {
        display: flex;
        gap: 1.5rem;
        z-index: 1;

        &>*>.label {
            font-size: .875rem;
            color: var(--Ctext-25);
            display: block;
        }

        &>*>.val {
            font-size: 1.25rem;
            display: block;
            line-height: 1.625rem;
        }
    }

    .background {
        position: absolute;
        top: -25%;
        bottom: -25%;
        right: 0;

        &>svg {
            height: 100%;
            width: 100%;
            color: var(--Ccard-bg);
        }
    }
}

@media(max-width:768px) {
    .license>.background {
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
    }

    .license>.announce-box {
        flex-direction: column;
    }
}