@use "./_declaration.scss" as *;

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

:root {
    color-scheme: light dark;
    font-family: Roboto, sans-serif, system-ui;
    --hue: var(--config-hue);
    --Wpage-width: min(calc(100% - 2rem), 75rem);
    --Wcon: var(--Wpage-width);
    --Cbrand: oklch(.7 .14 var(--hue));
    --Cdisplay: #000000bf;
    --Cbg: oklch(.95 .01 var(--hue));
    --Ccard-bg-hover: oklch(.98 .005 var(--hue));
    --Cbtn-plain-bg-hover: oklch(.95 .025 var(--hue));
    --Cbtn-content: oklch(.55 .12 var(--hue));
    --Cbtn-regular-bg: oklch(.95 .025 var(--hue));
    --Cbtn-regular-bg-hover: oklch(.9 .05 var(--hue));
    --Ctext-25: #0000004d;
    --Ctext-50: #0000008d;
    --Ctext-75: #000000bf;
    --Ctext-90: #000000e6;
    --Ctext-100: #000;

    @each $percent, $value in (100, $card-corner-100), (75, $card-corner-75), (50,$card-corner-50), (25,$card-corner-25) {
        --card-corner-#{$percent}: #{$value};
    }

    --Ccard-bg: rgba(255,255,255);
    --card-gap: #{$card-gap};
    --card-corner: #{$card-corner};
    --card-corner-circle: #{$card-corner-circle};
    --card-shadow: #{$card-shadow};
    --card-padding: #{$card-padding};
    --top-banner-height: 40vh;
    --font-family: Roboto, sans-serif, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    --mono-font-family: 'Jetbrains Mono', 'Hack', Hack, 'monospace', monospace;
}

@media(prefers-color-scheme:dark) {
    :root {
        --Cbrand: oklch(.75 .14 var(--hue));
        --Cdisplay: #ffffffbf;
        --Cbg: oklch(.16 .014 var(--hue));
        --Ccard-bg-hover: oklch(.3 .03 var(--hue));
        --Cbtn-plain-bg-hover: oklch(.3 .035 var(--hue));
        --Cbtn-content: oklch(.75 .1 var(--hue));
        --Cbtn-regular-bg: oklch(.33 .035 var(--hue));
        --Cbtn-regular-bg-hover: oklch(.38 .04 var(--hue));
        --Ctext-25: #ffffff4d;
        --Ctext-50: #ffffff8d;
        --Ctext-75: #ffffffbf;
        --Ctext-90: #ffffffe6;
        --Ctext-100: #fff;

        --Ccard-bg: oklch(.23 .015 var(--hue));
    }
}

@media(prefers-color-scheme:dark) {
    :root {
        --text-color: white;
        --bg-color: black;
    }
}

@media(max-width:768px) {
    :root {
        --Wpage-width: 100vw;
        font-size: 13px;
    }
}

@media(max-width:1024px) {
    :root {
        font-size: 15px;
    }
}

body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: var(--font-family);
    color-scheme: light dark;
    color: var(--Ctext-100) !important;
    background: var(--Cbg) !important;
}

body::before {
    content: '';
    position: absolute;
    background-image: url($banner-image);
    background-repeat: no-repeat;
    background-size: cover;
    height: var(--top-banner-margin,var(--top-banner-height));
    width: 100%;
    background-position: center;
    pointer-events: none;
    background-color: var(--Cbg);
    opacity: 0;
    transform: scale(1.1);
    top: 2rem;
    transition-property: opacity, top, transform, height;
    transition-duration: .35s;
    transition-timing-function: ease-in-out;
}

body.loaded::before {
    opacity: 1;
    transform: none;
    top: 0;
}

html::-webkit-scrollbar {
    display: none
}

html {
    scrollbar-width: none
}

body.not-ready {
    opacity: 0
}

#NEO_MAIN {
    display: flex;
    flex-direction: column-reverse;
    gap: $card-gap;
    max-width: var(--Wpage-width);
    margin: calc(var(--top-banner-margin,var(--top-banner-height)) - 9.5rem) auto 0;
}

#NEO_MAIN>:is(.mainCon, .sideCon),
.stickyGroup {
    display: flex;
    flex-direction: column;
    gap: $card-gap;
}

@media(min-width: 1024px) {
    #NEO_MAIN {
        flex-direction: row;
    }

    #NEO_MAIN>.mainCon {
        width: calc(100% - 18.5rem);
    }

    #NEO_MAIN>.sideCon {
        width: 17.5rem;

        &>.stickyGroup {
            position: sticky;
            top: 1rem;
        }
    }
}

@media (max-width:1024px) {
    #NEO_MAIN>.sideCon {
        opacity: 1;
        top: 0;
        transform: none;
        position: relative;
        transition-property: opacity, transform, top, margin;
        transition-duration: .35s;
        transition-timing-function: ease-in-out;
    }

    body:is(.being-replaced, :not(.main-anim-finished)) #NEO_MAIN>.sideCon {
        opacity: 0;
        top: 5rem;
        transform: scale(1.1);
    }
}

#NEO_MAIN,
#NEO_REPLACE {
    opacity: 0;
    top: 10rem;
    transform: scale(1.1);
    position: relative;
    transition-property: max-width, height, opacity, transform, top, margin;
    transition-duration: .149s;
    transition-timing-function: ease-in-out;
    pointer-events: none;
}

body.dom-loaded #NEO_MAIN,
body.main-anim-finished #NEO_REPLACE {
    opacity: 1;
    top: 0;
    transform: none;
    pointer-events: unset;
}

body.being-replaced #NEO_REPLACE {
    opacity: 0;
    transform: scale(1.1);
    top: 7rem;
}

body.js-disabled #NEO_MAIN {
    margin-top: 1rem;
}

svg path, symbol path {
    fill: currentColor;
}
