@use "_declaration.scss" as *;
@use "./frame_widgets/header_widget" as header-widget;
@use "./frame_widgets/footer_widget" as footer-widget;
@use "./frame_widgets/back-to-top_widget" as back-to-top-widget;
@use "./frame_widgets/loading-circle_widget" as loading-circle-widget;

:root {
    background: unset;
    --color-selection-bar: linear-gradient(to right, oklch(.7 .1 0), oklch(.7 .1 30), oklch(.7 .1 60), oklch(.7 .1 90), oklch(.7 .1 120), oklch(.7 .1 150), oklch(.7 .1 180), oklch(.7 .1 210), oklch(.7 .1 240), oklch(.7 .1 270), oklch(.7 .1 300), oklch(.7 .1 330), oklch(.7 .1 360));
}

.NeoWidget,
.post-card {
    padding: $card-padding;
    border-radius: $card-corner;
    box-shadow: $card-shadow;
    background: var(--Ccard-bg);
    box-sizing: border-box;
}

.iconBlock {
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: $card-corner-50;
    background-color: var(--Cbtn-regular-bg);
    color: var(--Cbtn-content);

    &>svg {
        width: 1.25rem;
        height: 1.25rem;
    }

    &.plain {
        color: var(--Ctext-25);
        background: light-dark(#0000000d, #ffffff0d);
    }
}

#markdown_fillContent {
    line-height: 1.75rem;
}

@keyframes navigationbar-fin {
    from {
        opacity: 0;
        top: -200px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

@include header-widget.use;
@include footer-widget.use;
@include back-to-top-widget.use;
@include loading-circle-widget.use;

@media(max-width: 768px) {
    .mainCon>.index-ul {
        gap: 0;
    }
}

.page-navigator {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;

    &>a {
        text-decoration: none;
        display: flex;
        height: 3rem;
        width: 3rem;
        align-items: center;
        justify-content: center;
        border-radius: $card-corner-100;
        background-color: var(--Ccard-bg);
        box-shadow: $card-shadow;
        color: var(--Cbrand);
        cursor: pointer;
        font-weight: 900;
        transition: background-color .125s ease-in-out;

        &.prev {
            transform: rotate(180deg)
        }

        &:is(.prev, .next)>svg {
            font-size: 2rem;
        }

        &.now {
            background-color: var(--Cbrand);
            color: var(--Cbg);
        }

        &:not([href]):not(.now) {
            color: var(--Ctext-25);
        }

        &[href]:not(:now):hover {
            background-color: var(--Cbtn-plain-bg-hover);
        }
    }
}

.license {
    background: var(--Cbg);
    border-radius: 1rem;
    width: 100%;
    padding: 1.5rem;
    margin: 1rem 0 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-height: 10rem;
    overflow: hidden;

    & a {
        color: var(--Cbtn-content);
        text-decoration: none;

        &:hover {
            color: var(--Cbrand);
        }
    }

    &>.title {
        font-weight: 900;
        font-size: 1.5rem;
        margin-bottom: auto;
        z-index: 1;

    }

    &>.announce-box {
        display: flex;
        gap: 1.5rem;
        z-index: 1;

        &>*>.label {
            font-size: .875rem;
            color: var(--Ctext-25);
            display: block;
        }

        &>*>.val {
            font-size: 1.25rem;
            display: block;
            line-height: 1.625rem;
        }
    }

    .background {
        position: absolute;
        top: -25%;
        bottom: -25%;
        right: 0;

        &>svg {
            height: 100%;
            width: 100%;
            color: var(--Ccard-bg);
        }
    }
}

@media(max-width:768px) {
    .license>.background {
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
    }

    .license>.announce-box {
        flex-direction: column;
    }
}