@use "../declaration" as *;

@mixin use {
    .post-card {
        display: flex;

        & a {
            text-decoration: none;
        }
    }

    .post-card .excerpt {
        color: var(--Ctext-75);

        &>p:first-child {
            margin-top: 0;
        }

        &>p:last-child {
            margin-bottom: 0;
        }
    }

    .post-card>.contentBox {
        width: calc(100% - 3.25rem);
        padding: .75rem 1.25rem;
        display: flex;
        flex-direction: column;
        gap: .75rem;
        box-sizing: border-box;
        min-height: 13rem;
    }

    .post-card.image>.contentBox {
        width: 72%;
        max-width: 72%;
    }

    .post-card>.contentBox>.title>a {
        color: var(--Ctext-90);
        transition: color .25s ease-in-out;
    }

    .post-card>.contentBox>.title:hover>a {
        color: var(--Cbrand);
    }

    .post-card>.contentBox>.title>a>h2 {
        margin: 0;
        font-size: 1.875rem;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 2.25rem;
        display: flex;
        align-items: center;

        .after {
            display: inline-flex;
            margin-left: .5rem;
            opacity: 0;
            color: var(--Cbtn-content);
            @include transition([opacity]);

        }

        &:hover>.after {
            opacity: 1;
        }
    }

    @media(max-width:768px) {
        .post-card>.contentBox>.title>a>h2.after {
            opacity: 1;
        }
    }

    .post-card>.contentBox>.post-meta {
        font-weight: 500;
        color: var(--Ctext-50);

        & a {
            color: var(--Ctext-50);
        }
    }

    .post-card>.contentBox>.foreword {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .post-card>.contentBox>.length {
        display: flex;
        color: var(--Ctext-25);
        font-weight: 400;
        margin-top: auto;
    }

    .post-card>.contentBox>.length>.hr {
        display: block;
        width: 0;
        padding: 0 .75rem;
        position: relative;
    }

    .post-card>.contentBox>.length>.hr::before {
        content: '|';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
    }

    .post-card>.readMore {
        min-width: 3.25rem;
        width: 3.25rem;
        position: relative;
        overflow: hidden;
        border-radius: $card-corner-75;
        margin-left: auto;
        background-position: center center;
        background-size: cover;

        &>.cover {
            opacity: 1;
            position: absolute;
            pointer-events: none;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--Cbtn-regular-bg);
            color: var(--Cbtn-content);
            transition: background-color .25s ease-in-out;
        }

        &:hover>.cover {
            background-color: var(--Cbtn-regular-bg-hover);
        }

        & img {
            object-fit: cover;
            object-position: center;
            height: 100%;
        }
    }

    .post-card.image>.readMore {
        width: 28%;
        display: flex;
        justify-content: center;

        &>.cover {
            opacity: 0;
            background-color: #0004;
            color: #fff;
            transition: opacity .25s ease-in-out;
        }

        &:hover>.cover {
            opacity: 1;
        }
    }

    .post-card>.readMore>.cover>svg {
        font-size: 2.5rem;
    }

    .post-card.image>.readMore>.button {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    @media (max-width:768px) {
        .mainCon>.index-ul>li {

            &>.post-card {
                border-radius: 0;
            }

            &:first-child>.post-card {
                border-radius: $card-corner $card-corner 0 0;
            }

            &:last-child>.post-card {
                border-radius: 0 0 $card-corner $card-corner;
            }
        }

        .post-card {
            flex-direction: column-reverse;
            max-height: 35rem;

            &>.contentBox,
            &.image>.contentBox {
                padding: .5rem .75rem;
                width: 100%;
                max-width: 100%;
                min-height: unset;

                &>.title>a>h2 {
                    text-wrap: wrap;
                }
            }

            &>.readMore {
                display: none;
            }

            &.image>.readMore {
                display: flex;
                width: 100%;
                aspect-ratio: 21 / 9;

                // &>.cover>svg {
                //     transform: scale(2);
                // }

                &>.button {
                    width: 100%;
                    max-height: 10rem;
                    height: unset;
                }
            }

            & .post-meta {
                font-size: .875rem;
            }

            & .post-meta .tag {
                display: none;
            }
        }
    }
}