mixin background-copyright(string,url)
        a.background-copyright(title='Author of background image',href=url)
            .copyright-logo!= _icon('material-symbols:copyright','rounded')
            .copyright-name!= string
            if url
                .link-icon!= _icon('material-symbols:open_in_new','rounded')
