- let ch = ['zh-CN','zh-TW','zh-HK'];
- let rpReg = /\-.*?$/;
mixin giscus-widget(page)
    if ctx.config._custom_giscus
        - let lang = ch.includes(page.language) ? page.language : page.language.replace(rpReg,'');
        .giscus-widget.NeoWidget
            .giscus
            ._giscus_script(hidden="true")= ctx.config._custom_giscus.replace(/data-lang="[^"]*?"/,`data-lang="${lang}"`)